
.intro{
    height:150px;
}
.banner{
    margin-top: 100px;
    width:100%;
}
.typewriter{
    font-family: 'Lekton', sans-serif;
    font-weight: 700;
}
.image1{
    height:auto;
    margin-left: 10px;
    transform: translateY(-10%);
    animation: floater 3s infinite;
    transition: ease 0.5s;
    width:60%;
    max-width: 300px;
}
.col1{
    align-items: center;
    background-color: black;
    padding: 5%;
    color: #f0ebeb;

}
.col2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.button{
    background-color:transparent;
    color:  #f0ebeb;
    width: 210px;
    height: 50px;
    border-radius: 10px;
    margin-top: 50px;
    border: 2px solid  #f0ebeb;
}
.button:hover{
    background-color: #6a2656;
}
.span1{
    font-family: 'Rubik', sans-serif;
    font-size: clamp(2.3rem,3vw,3.5rem);
    margin-bottom: 10px;

}
.span2{
    color:  #f0ebeb;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: clamp(1rem, 2.2vw, 1.2rem);
    text-align:justify;
    font-weight: 500;
    letter-spacing: 1.2px;
}

@keyframes floater {
    0%{transform: translateY(-10%);transition: ease 1s;}
    50%{transform: translateY(10%);transition: ease 1s;}
  }