html{
    scroll-behavior: smooth;
}
body{
    background-color: black !important;
    font-family: 'Raleway', sans-serif;
}
.app{
    padding: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.navbar-container{
  position: sticky;
  top:0;
}

.bg-image{
  left: 0;
  right: 0;
  z-index: 1;
  display: block;
  background-image: url("assets/starry-night-sky.jpg");
  width: 1200px;
  height: 800px;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

}
.homepage-container {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  margin-left: 20px;
  margin-right: 20px;
}
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
  max-height: 1000px;
  height:90%;
  width: 100%;

 

}
.skills-container{
    height: auto;
    background-image: url("assets/starry-night-sky.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.projects-container{
  height:auto;
  background-image: url("assets/starry-night-sky.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;

}

.contactme-container{
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.footer-container{
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
